body {
    background-image: url(wp2293435.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    margin: 0;
    font-size: 20px;

}

h1,
#instructions {
    display: inline-block;
    color: white;
    background-color: black;
}

#instructions {
    padding: 10px;
}

#buttons {
    align-items: start;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    height: 60px;
    padding-bottom: 10px;
}

.button {
    padding: 10px;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(99, 211, 211);
}

#gameblock {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 100vh;
    max-width: 600px;
}

#instructions,
#game,
li {
    text-align: left;
}

#game {
    background-color: rgb(227, 218, 235);
    position: relative;
    padding: 7px;
    border-radius: 5px;
}

#textInput {
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    font-size: 20px;
}

.text-display,
.timerbtn {
    Padding: 5px;
}

.buttonspan.tooltip {
    position: absolute;
    z-index: 1;
    bottom: -70px;
    right: 74px;
}

.tooltip {
    background-color: #888;
    border-radius: 2px;
    color: white;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.buttonspan:hover .tooltip {
    opacity: 1;
}

.modal-table {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: #000;
    cursor: pointer;
    font-size: 30px;
}

.modal-image {
    justify-content: center;
    align-items: center;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.delfaut {
    color: black;
}

.current {
    font-size: 25px;
    color: goldenrod;
}
